<table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
    <tr style="height:4px;">
        <td style="width:20%;background-color:#e0302d;"></td>
        <td style="width:20%;background-color: #f5901d ;"></td>
        <td style="width:20%;background-color: #d5de23;"></td>
        <td style="width:20%;background-color: #8ac43f;"></td>
        <td style="width:20%;background-color: #00a398 ;"></td>
    </tr>
</table>


<div class="container">
    <div class="row">
    <br>
    
      <div class="col-xs-12 col-sm-6 ">
        <div class="box">
            
            <p>Social</p>
          <div class="col-xs-12 col-sm-12 col-md-3 side1">
            <div class="box" >
            <div class="socialmedia">
                <a href="#"> 
                    <fa-icon [icon]="faFacebookF" class="icon"></fa-icon>
                    Facebook
                </a>
            </div>
            <br>
            <div class="socialmedia">
            <a href="#"> 
                <fa-icon [icon]="faYoutube" class="icon"></fa-icon>
                Youtube
            </a>
            </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 side1">
            <div class="box">
                <div class="socialmedia">
                <a href="#"> 
                <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
                Twitter
                </a>
                </div>
            <br>
            <div class="socialmedia">
              <a href="#"> 
                <fa-icon [icon]="faLinkedinIn" class="icon"></fa-icon>
                LinkedIn
              </a>
            </div>
        </div>
          </div>
        </div>
      </div>

      
      <div class="vr"></div>

     
      <div class="col-xs-12 col-sm-6">
        <div class="box">
            <p class="title">About Us </p>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="box">
                <div class="about">
                <a href="#">Who We Are</a>
                </div>
                <div class="about">
                <a href="#">Why Searce</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="box">
                <div class="about">
                <a href="#">What We Do</a>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="box">
                <div class="about">
              <a href="#">How We Do</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  
  