.icon-user {
    position:relative;
    top: -35px;
    right: 20px;
}

.thumbnail{
    padding-left:250px
}

.menu{
    background-color: #ededed;
}

.logo{
    padding-left: 60px;
}

.addedd{
    padding-left:60px
}

#line{
    border-right: 0;
}

#leftt{
    border-left: 0;
} 

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.space{
    display: inline-block;
}
.bold{
    font-weight: bold;
    color: black;
}
.border-right{
    border: 0;
}

#caltax{
    border:1px
}

#currval{
    border:0;
}


    .no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.space{
    display: inline-block;
}
.bold{
    font-weight: bold;
    color: black;
}
.border-right{
    border: 0;
}

#caltax{
    border:1px
}
#bg{
    background-color:red;
    color:white;
}

#redborder{
    border:2px solid red
}

#bord{
    border-right:0
}

#red{
    border:4px solid red
}

.dues{
    background-color:red
}